<div class="aboutMeTextContainer">
    
    <div>
        <div>
            <h2>About me</h2>
        </div>
        <span>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, 
            rerum est. Earum voluptatibus ipsum obcaecati reprehenderit 
            ratione maiores pariatur unde fugiat impedit, optio doloribus dolorem.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, 
            rerum est. Earum voluptatibus ipsum obcaecati reprehenderit 
            ratione maiores pariatur unde fugiat impedit, optio doloribus dolorem.
        </span>
    </div>
    <div>
        <div>
            <img src="/assets/icons/project/house.svg" alt="house">
            <span>Based in Bad Reichenhall</span>
        </div>
        <div>
            <img src="/assets/icons/project/laptop.svg" alt="Laptop">
            <span>Open to work Remote</span>
        </div>
        <div>
            <button>Let's talk</button>
        </div>
    </div>

</div>


<div class="aboutMeImageContainer">

    <div class="platzhalter für Portrait"></div>
    
</div>