<section class="skills" aria-labelledby="skills-title">
    <h2 id="skills-title" class="skillsTitle">My skills</h2>

    <div class="skillsContent">
        <div class="skillsContainer">
            <div>
                <img src="/assets/icons/skills/angular.svg" alt="Angular logo">
                <span>Angular</span>
            </div>
            <div>
                <img src="/assets/icons/skills/typeScript.svg" alt="TypeScript logo">
                <span>Type Script</span>
            </div>
            <div>
                <img src="/assets/icons/skills/javaScript.svg" alt="JavaScript logo">
                <span>Java Script</span>
            </div>
            <div>
                <img src="/assets/icons/skills/html.svg" alt="HTML logo">
                <span>HTML</span>
            </div>
            <div>
                <img src="/assets/icons/skills/css.svg" alt="CSS logo">
                <span>CSS</span>
            </div>
        </div>
        <div class="skillsContainer">
            <div>
                <img src="/assets/icons/skills/supaBase.svg" alt="Supabase logo">
                <span>Supabase</span>
            </div>
            <div>
                <img src="/assets/icons/skills/git.svg" alt="Git logo">
                <span>Git</span>
            </div>
            <div>
                <img src="/assets/icons/skills/scrum.svg" alt="Scrum logo">
                <span>Scrum</span>
            </div>
            <div>
                <img src="/assets/icons/skills/restApi.svg" alt="Rest-API logo">
                <span>Rest-API</span>
            </div>
            <div>
                <img src="/assets/icons/skills/figma.svg" alt="Figma logo">
                <span>Figma</span>
            </div>
        </div>
        
        <div class="skillsAndContact">
            <img src="/assets/icons/skills/learnLogo.svg" alt="Learn logo">
            <span>
                Don't see the skill you need? <a href="">Contact me</a> I'm always ready to learn!
            </span>
        </div>
    </div>
</section>
