<section class="skills" aria-labelledby="skills-title">
    <h2 id="skills-title" class="skillsTitle">My skills</h2>

    <div class="skillsContent">
        <div class="skillsContainer">
            <div><img src="/assets/icons/skills/angular.svg" alt="Angular logo"></div>
            <div><img src="/assets/icons/skills/typeScript.svg" alt="TypeScript logo"></div>
            <div><img src="/assets/icons/skills/javaScript.svg" alt="JavaScript logo"></div>
            <div><img src="/assets/icons/skills/html.svg" alt="HTML logo"></div>
            <div><img src="/assets/icons/skills/css.svg" alt="CSS logo"></div>
        </div>
        <div class="skillsContainer">
            <div><img src="/assets/icons/skills/supaBase.svg" alt="Supabase logo"></div>
            <div><img src="/assets/icons/skills/git.svg" alt="Git logo"></div>
            <div><img src="/assets/icons/skills/scrum.svg" alt="Scrum logo"></div>
            <div><img src="/assets/icons/skills/restApi.svg" alt="Rest-API logo"></div>
            <div><img src="/assets/icons/skills/materialDesign.svg" alt="Material Design logo"></div> 
        </div>
        
        <div class="skillsAndContact">
            <img src="/assets/icons/skills/learnLogo.svg" alt="Learn logo">
            <span>
                Don't see the skill you need? <a href="">Contact me</a> I'm always ready to learn!
            </span>
        </div>
    </div>
</section>
