:host {
  height: 300px;
  display: block;
  padding-right: var(--spacing-md);
  padding-left: var(--spacing-md);
  width: 100%;
}

:host(.lastTransition) {
  width: 80%;
}

.arrowContainer {
  display: flex;

  &--down-left {
    justify-content: flex-end;
  }

  &--down-right {
    justify-content: flex-end;
    transform: rotateY(180deg);
  }
}

