:host {
  display: block;
  width: 100%;
}

.footerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-md);
  margin-top: -50px;
  padding: 0 var(--spacing-md) 0;
}

.footerArrow {
  grid-column: 1 / 3;
  display: flex;
  justify-content: flex-end;

  img {
    width: 50px;
    transform: rotate(-225deg);
  }
}

.footerBrand {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  img {
    width: 80px;
  }
}

.footerSocials {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-sm);
}

.footerLegal {
  grid-column: 1 / 3;
  display: flex;
  justify-content: flex-end;

  a {
    color: var(--color-text-light);
    font-size: 14px;
  }
}
