<div class="footerContainer">
  <div class="footerArrow">
      <img src="/assets/icons/project/arrowFooter.svg" alt="pfeil">
  </div>
  <div class="footerBrand">
      <img src="/assets/logo/logoWhite.png" alt="Logo">
      <span>© Michel Korfmacher 2026</span>
  </div>
  <div class="footerSocials">
      <a href=""><img src="/assets/icons/social/githubButton.svg" alt="Git Hub"></a>
      <a href=""><img src="/assets/icons/social/emailButton.svg" alt="e-mail"></a>
      <a href=""><img src="/assets/icons/social/linkedinButton.svg" alt="LinkedIn"></a>
  </div>
  <div class="footerLegal"><a href="">Legal notice</a></div>
</div>
