<div class="menuContainer">
  <div class="menuLinks">
    <div class="menuLinksInner">
      <a href="#about">About me</a>
      <a href="#skills">My skills</a>
      <a href="#portfolio">Portfolio</a>
    </div>
  </div>

  <div class="menuContact">
    <div class="menuContactText">
      <a href="#say-hi">Say Hi!</a>
      <a href="mailto:michelkorfmacher@yahoo.de">michelkorfmacher@yahoo.de</a>
    </div>

    <div class="menuSocials">
      <a href="" aria-label="GitHub">
        <img src="/assets/icons/social/githubButton.svg" alt="">
      </a>
      <a href="mailto:michelkorfmacher@yahoo.de" aria-label="E-Mail">
        <img src="/assets/icons/social/emailButton.svg" alt="">
      </a>
      <a href="" aria-label="LinkedIn">
        <img src="/assets/icons/social/linkedinButton.svg" alt="">
      </a>
    </div>
  </div>
</div>
