<section class="portfolioSection" aria-labelledby="portfolioTitle">
  <div class="portfolioHeading">
    <h2 id="portfolioTitle">Portfolio</h2>
    <p class="portfolioDescription">
        Explore a selection of my work here - interact with
        <br>
        projects to see my skills in action.
    </p>
  </div>

  <div class="portfolioList">
    @for (project of projects; track project.name; let i = $index, odd = $odd) {
      <article class="projectCard" [class.projectCardImageRight]="odd">
        <a class="projectLink" [href]="project.link" [attr.aria-label]="project.name + ' öffnen'">
          <img class="projectImage" [src]="project.image" [alt]="'Vorschau von ' + project.name">

          <span class="projectNumber">0{{ i + 1 }}/04</span>

          <div class="projectOverlay">
            <div>
              <h3>{{ project.name }}</h3>
              <p>{{ project.description }}</p>
            </div>
          </div>
        </a>
      </article>
    }
  </div>
</section>