:host {
  display: flex;
  width: calc(100% - var(--page-padding));
  padding: var(--page-padding);
  height: 183px;
  margin-bottom: var(--spacing-lg);
}

.arrowContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  color: var(--color-text);
}

.arrowContainerEmail {
  position: relative;
  top: 20px;
  color: var(--color-text);
  font-family: var(--font-body);
  font-size: 14px;
  transform: rotate(-90deg);
  transform-origin: left top;
  white-space: nowrap;
}

.arrowContainerScroll {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  margin-right: 24px;
  color: var(--color-text);
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
}

.arrow {
  position: relative;
  display: block;
  width: 56px;
  height: 92px;
}

.arrowLine {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: var(--border-width);
  height: 76px;
  background-color: var(--color-text);
  transform: translateX(-50%);
}

.arrowLine::before,
.arrowLine::after {
  position: absolute;
  bottom: 0px;
  width: 28px;
  height: var(--border-width);
  background-color: var(--color-text);
  content: '';
}

.arrowLine::before {
  right: 0px;
  transform: rotate(45deg);
  transform-origin: right center;
}

.arrowLine::after {
  left: 0px;
  transform: rotate(-45deg);
  transform-origin: left center;
}

.arrow--up {
  transform: rotate(180deg);
}

.arrow--left {
  transform: rotate(90deg);
}

.arrow--right {
  transform: rotate(-90deg);
}

