@use './styles/variables';
@use './styles/fonts';
@use './styles/reset';


body {
	display: flex;
	justify-content: center;
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-body);
	line-height: 1.5;
}

app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--content-width);
}

h1,
h2,
h3 {
	font-family: var(--font-heading);
	font-weight: 800;
	line-height: 1.1;
}

h1 {
	font-size: 128px;
}

h2 {
	font-size: 78px;
}

h3 {
	font-size: 64px;
}

:focus-visible {
	outline: 3px solid var(--color-accent);
	outline-offset: 4px;
}