:host {
  display: block;
  width: 100%;
}

.hero {
  display: flex;
  width: 100%;
  max-width: 1440px;
  height: calc(100vh - 96px);
  min-height: calc(100vh - 96px);
  flex-direction: column;
  margin-bottom: var(--spacing-lg);
}

app-headline-component {
  flex: 1 1 auto;
}

app-scroll-component {
  flex: 0 0 183px;
}

